/* Fonts */
/*@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:700');*/

/* Custom designs */
@import url(components/banner.css);
@import url(components/button.css);
@import url(components/home-card.css);
@import url(components/container.css);
@import url(components/animation.css);
@import url(components/navbar.css);
@import url(components/footer.css);
@import url(components/card.css);

/* Utilities */
body {
  font-family: Poppins;
  color: #2C302E;
}

h1 {
  font-family: Poppins;
  font-weight: lighter;
  font-size: 34px;
  color: #E18B21;
}
h2 {
  font-family: Poppins;
  font-size: 28px;
  font-weight: normal;
  color: #2C302E;
}
h3, h4 {
  font-family: Poppins;
}

a {
  text-decoration: none;
}

/*.text-center {*/
  /*text-align: center;*/
/*}*/

/*Font weight possibilities :*/
/*normal, light, bold, bolder*/
