/* Fonts */
/*@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:700');*/

/* Custom designs */
@import url(components/banner.css);
@import url(components/button.css);
@import url(components/home-card.css);
@import url(components/container.css);
@import url(components/animation.css);
@import url(components/navbar.css);


/* Utilities */
body {
  font-family: Poppins;
}

h1, h2, h3, h4 {
  font-family: Poppins;
}

a {
  text-decoration: none;
}

/*.text-center {*/
  /*text-align: center;*/
/*}*/
