.banner {
  background-size: cover;
  background-position: center;
  padding: 170px 0;
  /*margin-bottom: 0px 0px 100px 0px;*/
}

.banner h1 {
  color: white;
  font-size: 50px;
}

.banner p {
  color: white;
  opacity: .7;
  font-size: 20px;
}

#primary-btn {
  color: green;
  background-color: white;
  padding: 10px 22px;
  border-radius: 50px;
  text-decoration: none;
  margin-top: 20px;
}
