.primary-btn {
  color: white;
  background-color: #E18B21;
  padding: 8px 18px;
  border-radius: 40px;
  text-decoration: none;
  margin: 10px;
  border: 0.5px solid white;
}
.secondary-btn {
  color: #E18B21;
  background-color: white;
  padding: 8px 18px;
  border-radius: 40px;
  text-decoration: none;
  margin-left: 8px;
  border: 0.5px solid #E18B21;
}

/*Sur la page d'accueil, dans le bandeau titre*/
#primary-btn-title {
  color: white;
  background-color: #E18B21 ;
  padding: 10px 20px;
  border-radius: 16px;
  text-decoration: none;
  border: 0.5px solid white;
  font-size: 15.5px;
}
