.home-card {
  margin-bottom: 30px;
  padding: 40px 40px 40px 40px;
  display: flex;
  font-family: Poppins;
}
.home-card-text {
  text-align: left;
  padding-right: 20px;
  padding-left: 20px;
}
.home-card-img {
  width: 370px;
  padding-right: 20px;
  padding-left: 20px;
}
.home-card-grey {
  margin-bottom: 30px;
  padding: 40px 40px 40px 40px;
  display: flex;
  background-color: #F6F6F6;
  font-family: Poppins;
}

/*tests */
/*.home-card-right {
  margin-bottom: 30px;
  padding: 45px 40px 45px 40px;
  background-color: #F6F6F6;
}
.home-card-right-text {
    text-align: right;
}
*/
