.home-card {
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 20px 0px;
  display: flex;
  font-family: Poppins;
}
.home-card-text {
  text-align: left;
  padding-right: 50px;
  padding-left: 40px;
}
.home-card-img {
  width: 470px;
  margin-left: 40px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
/*.home-card-grey {
  margin-bottom: 30px;
  padding: 40px 40px 40px 40px;
  display: flex;
  background-color: #F6F6F6;
  font-family: Poppins;
}*/
.home-card-title {
  justify-content: center;
}
.home-card-title-text h1 {
  justify-content: left;
  color: #E18B21;
  font-size: 50px;
  padding-right: 20px;
  line-height: 108%;
}
.home-card-title-pic {
  width: 70%;
}
.width-1000 {
  width: 1000px;
  justify-content: center;
}

/*Contenu de la homepage */
.orange-background {
  background-color: #FDF6ED;
  margin: 0;
  /*height: 300px;*/
  padding-top: 40px;
  padding-bottom: 40px;
}
.white-background {
  margin: 0;
  /*height: 300px;*/
  padding-top: 40px;
  padding-bottom: 40px;
}


/*Partie visite */
.home-card-title-text-visite {
  justify-content: left;
  color: red;
  padding-right: 20px;
  line-height: 108%;
  align-content: center;
}

.container-align-items {
  align-items: center;
}

