.home-card {
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 20px 0px;
  display: flex;
  font-family: Poppins;
}
.home-card-text {
  text-align: left;
  padding-right: 50px;
  padding-left: 40px;
}
.home-card-img {
/*  width: 430px;
  height: 400px;
  margin-left: 40px;*/
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: block;
  max-width:512px;
  max-height:500px;
  width: auto;
  height: auto;
  border-radius: 16px;
  margin-left: 30px;
}
.home-card-title {
  justify-content: center;
}
.home-card-title-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 16px;
}
.home-card-title-text h1 {
  justify-content: left;
  color: #E18B21;
  font-size: 53px;
  padding-right: 20px;
  line-height: 108%;
  font-weight: normal;
  margin: 0px;
  padding: 0px;
}
.home-card-title-pic {
  width: 70%;
}
.width-1000 {
  width: 1000px;
  justify-content: center;
}

/* ---------- Contenu de la homepage ------------- */

/*Fonds de pages : */
.orange-background {
  background-color: #FDF6ED;
  margin: 0;
  padding: 50px 0px 50px 0px;
}
.white-background {
  margin: 0;
  padding-top: 40px;
  padding-bottom: 40px;
  padding: 50px 0px 50px 0px;
}



/* ------------------------------------------------*/


/*Partie visite */
.home-card-title-text-visite {
  justify-content: left;
  padding-right: 20px;
  line-height: 108%;
  align-content: center;
  color: #474A48;
}

.container-align-items {
  align-items: center;
}

