.space-between {
  justify-content: space-between;
}
.navbar-container {
  margin-top: 20px;
  padding: 10px;
}
.flex {
  display: flex;
}

/*Dans la navbar, boutons*/
.menu-intitule {
  padding-left: 30px;
  font-size: 14.5px;
  font-family: Poppins;
}
.menu-intitule a {
  text-decoration: none;
  color: #504136;
}
.menu-intitule a:hover {
  text-decoration: none;
  color: #E18B21;
}

/*Dans la navbar, bouton coloré pour page sélectionnée */
.accueil-selected a {
  color: #E18B21;
}
.paniers-selected a {
  color: #E18B21;
}
.ferme-selected a {
  color: #E18B21;
}
.contact-selected a {
  color: #E18B21;
}
