.navbar-container {
  margin-top: 30px;
}

/*Dans la navbar, boutons*/
.menu-intitule {
  padding-left: 30px;
  font-size: 15.5px;
  font-family: Poppins;
}
.menu-intitule a {
  text-decoration: none;
  color: #504136;
}
.menu-intitule a:hover {
  text-decoration: none;
  color: #E18B21;
}

/*Dans la navbar, bouton coloré pour page sélectionnée */
.accueil-selected a {
  color: #E18B21;
}
.paniers-selected a {
  color: #E18B21;
}
.ferme-selected a {
  color: #E18B21;
}
.contact-selected a {
  color: #E18B21;
}
